{# Extend the base.twig template so that we don't need to rewrite the site-wide markup. #}
{% extends "base.twig" %}

{# Add our content specific to the Contact page inside the block called "content". A block refers to a place where #}
{% block content %}
	<div class="content-wrapper">
		{# In the article tag, include a class specifying the post type and an ID specifying the post's ID. #}
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article-content">

				{# Get the post's (well, page's in this case...but most things are called posts in WordPress) title, a native field in WP. #}
				<h1>{{post.title}}</h1>
				<div class="article-body">
					{# Get the post's content editor data, also a native field to WP. #}
					{{post.content}}
					
					{# If the custom field called "contacts" is not empty, do what is inside this conditional. #}
					{% if post.contacts %}
						<h3>Our Team Members</h3>
						<ul>
							{# You need to use get_field with both Repeater fields and Flexible Content. If you have a Repeater within Flexible Content, you do not need to use get_field. #}
							{# Loop through the Repeater field called "contacts". #}
							{% for contact in post.get_field('contacts') %}
								<li>
									{# Access the text field called person_name. Note that we are going inside of "contact" rather than "post" because we are inside the Repeater field loop. #}
									<h5>{{contact.person_name}}</h5>
									{# Now get the data for the field called "phone_number" #}
									<p>{{contact.phone_number}}</p>
								</li>
							{% endfor %}
						</ul>
					{% endif %}

					<h3>Our Featured Cocktails</h3>

					{# This loop of cocktails (a custom post type) is passed to this template through a query in page.php. We assigned the name "cocktails" to the array instead of "post" so as not to conflict with the data coming from the page to this template. #}
					{% for cocktail in cocktails %}
						{# Show the Cocktail custom type's title. I know the data is called "title" by looking at either the Timber docs (https://github.com/jarednova/timber/wiki/TimberPost#properties) or running a {{dump(post)}} to see the data I have access to. #}
						{# Note that you can use cocktail.title (like line 7) or cocktail.post_title. They return the same thing. #}
						<h4>{{cocktail.post_title}}</h4>
						{# Access the textarea field called "history". #}
						<p>{{cocktail.history}}</p>
					{% endfor %}

				</div>
			</section>
		</article>
	</div><!-- /content-wrapper -->

{% endblock %}
