{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<pre>Hi event template!</pre>
		<header>
			<h1>{{post.title}}</h1>
		</header>
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article-content">
				
				<p>Type of Event:</p>
				
				{% for t in post.get_terms('event_type') %}
					<p><a href="{{t.link}}">{{t.name}}</a></p>
				{% endfor %}

				<pre>{{dump(post)}}</pre>
				
				{% for section in post.get_field('event_details') %}
					{% if section.acf_fc_layout == 'plain_text' %}
						<p>{{section.text}}</p>
					{% elseif section.acf_fc_layout == 'gallery' %}
						<pre>{{section.event_pictures}}</pre>
					{% endif %}
				{% endfor %}

			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}